@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "footureregular";
  src: url("./assets/fonts/footure-webfont.woff2") format("woff2"),
    url("./assets/fonts/footure-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* const css */
:root {
  --stone-color: rgb(28 25 23);
}

html,
body {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

.title,
.subtitle {
  font-size: 11rem;
  line-height: 0.9;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  overflow: hidden;
}

/* .character {
  transition: all 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
}

.character:hover {
  color: rgb(28, 25, 23);
}

.character::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  transform-origin: left;
  transform: scaleX(0);
  height: 5px;
  background-color: rgb(28, 25, 23);
  transition: transform 0.5s ease-in-out;
}

.character:hover::after {
  transform: scaleX(1);
}

.character:not(:hover)::after {
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease-in-out;
} */

/* Styles pour l'élément .character lorsqu'il est adjacent à un input radio checked */
input[type="radio"] {
  display: none;
}

.character input[type="radio"]:checked + label {
  background-color: var(--stone-color);
  color: white;
}
